h2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(33, 82, 124);
}
.main {
  margin: auto;
  width: 80%;
}
.main input {
  min-width: 60%;
  padding: 8px;
  border-radius: 3px;
  margin: 4px;
  outline: none;
  border: none;
  box-shadow: 1px 2px 2px rgb(9, 40, 44);
}
.main button {
  min-width: 25%;
  padding: 8px;
  border-radius: 3px;
  margin: 4px;
  outline: none;
  border: none;
  color: aliceblue;
  background-color: rgb(41, 80, 209);
  box-shadow: 1px 2px 2px rgb(9, 40, 44);
}
